@page
@model CRM.Pages.RegistroTratamientosModel
@{
    ViewData["Title"] = "AGREGAR REGISTRO";
}

<a href="/VerRegistros" class="btn btn-primary btn-lg btn-block mt-3 mb-5">Regresar</a>


<form method="post" class="needs-validation" novalidate>
    <label for="Cliente">Nombre del Cliente:</label><br>
    <select asp-for="Cliente" id="Cliente" required>
        <option value="">Seleccione un cliente</option>
        @foreach (var cliente in Model.Clientes)
        {
            <option value="@cliente">@cliente</option>
        }
    </select><br>
    <span asp-validation-for="Cliente" class="text-danger"></span><br>

    <label for="Tratamiento">Tratamiento realizado:</label><br>
    <select asp-for="Tratamiento" id="Tratamiento" required>
        <option value="">Seleccione un Tratamiento</option>
        @foreach (var tratamiento in Model.Tratamientos_)
        {
            <option value="@tratamiento">@tratamiento</option>
        }
    </select><br>
    <span asp-validation-for="Tratamiento" class="text-danger"></span><br>

    <label for="Encargado">Persona encargada:</label><br>
    <select asp-for="Encargado" id="Encargado" required>
        <option value="">Seleccione una persona</option>
        @foreach (var persona in Model.Personaencargada)
        {
            <option value="@persona">@persona</option>
        }
    </select><br>
    <span asp-validation-for="Encargado" class="text-danger"></span><br>

    <label asp-for="Monto" for="Monto">Monto (solo números):</label><br>
    <input asp-for="Monto" type="number" id="Monto" name="Monto" required><br>
    <span asp-validation-for="Monto" class="text-danger"></span><br>

    <label asp-for="Fecha" for="Fecha">Fecha del Tratamiento:</label><br>
    <input asp-for="Fecha" type="date" id="Fecha" name="Fecha" required><br>
    <span asp-validation-for="Fecha" class="text-danger"></span><br>

    <button type="submit" class="btn btn-success mt-3">Registrar Tratamiento</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
